<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benito y Gerardo</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="shortcut icon" href="https://th.bing.com/th/id/R07899a6484e0fdc0bbf943d221e56d47?rik=r7b41rRSj1pkJQ&pid=ImgRaw">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>


    <div class="flexbox" style="align-items: center;">
        <header>
            <div class="título">
                <a href="/">Las conchitas</a>
            </div>
                <nav>
                    <a href="/Tienda">Tienda</a>

                    <a href="/Carrito">Carrito</a>


                    <a href="/InSeUsuario">Iniciar Sesión</a>
                    
                </nav>
        </header> 
    </div>
    <section class="contenedorPrincipal" style="width: 50%;">
        <div class="div-form">
            <form style="text-align: center;" onsubmit="" name="formUsu" method="post" action="Registro.jsp" >  
                <h2 class="h2-tienda">Por favor, ingrese los productos que desee comprar:</h2>
                <br><br>
                <p class="text">Sabor:</p>
                <br>
                <select class="campo-tienda">                                         
                    <option value="0">Seleccionar sabor</option>
                    <option value="1">Vainilla</option>
                    <option value="2">Fresa</option>
                    <option value="3">Chocolate</option>
                    <option value="4">Napolitano</option>
                    <option value="5">Limón</option>
                    <option value="6">Naranja</option>
                </select>
                <br><br><br>
                <p class="text">Descuento:</p>
                <br>
                <select class="campo-tienda">                                         
                    <option value="0">Seleccionar descuento</option>
                    <option value="1">Descuento fresco (10%)</option>
                    <option value="2">Descuento frío (20%)</option>
                    <option value="3">Descuento helado (30%)</option>
                    <option value="4">Descuento congelado (50%)</option>
                </select>
                <br><br><br>
                <p class="text">Unidad:</p> <!--Primero seleccionará la unidad y con base eso saldrán las cantidades-->
                <br>
                <select class="campo-tienda">                                         
                    <option value="0">Seleccionar unidad</option>
                    <option value="1">Mililitros</option>
                    <option value="2">Gramos</option>
                    <option value="3">Litros</option>
                </select>
                <br><br><br>
                <p class="text">Cantidad:</p>
                <br>
                <select class="campo-tienda">                                         
                    <option value="0">Seleccionar cantidad</option>
                    <option value="1">100</option>
                    <option value="2">200</option>
                    <option value="3">300</option>
                    <option value="4">500</option>
                    <option value="5">1</option>
                    <option value="6">3</option>
                    <option value="7">5</option>
                </select>
                <br><br><br>
                <p class="text">Tamaño:</p>
                <br>
                <select class="campo-tienda">                                         
                    <option value="0">Seleccionar tamaño</option>
                    <option value="1">Chico</option>
                    <option value="2">Mediano</option>
                    <option value="3">Grande</option>
                </select>
                <br><br><br>
                <p
                 class="text">Presentación: </p>
                <br>
                <select class="campo-tienda">                                         
                    <option value="0">Seleccionar presentación</option>
                    <option value="1">Cono</option>
                    <option value="2">Vaso</option>
                    <option value="3">Cubeta</option>
                </select>
                <br><br><br>
                <input class="botón" type="submit" value="Continuar" style="width:200px;">
                <br><br><br>
                <input class="botón" type="reset" value="Vaciar carrito" style="width:200px;">
            </form>
        </div>   
    </section>
  </body>
</html>
