<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar usuario</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="shortcut icon" href="https://assets.pinterest.com/ext/embed.html?id=67624431883447156">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="flexbox" style="align-items: center;">
        <header>
            <div class="título">
                <a href="/">Las conchitas</a>
            </div>
                <nav>
                    <a href="/Tienda">Tienda</a>

                    <a href="/Carrito">Carrito</a>


                    <a href="/InSeUsuario">Iniciar Sesión</a>

                    <a href="/ConfigUsuario">Configuración Usuario</a>
                    
                </nav>
        </header> 
    </div>


    <section class="contenedorPrincipal">
        <div class="div-contenido" style="text-align: center;">
            <h2 style="text-align: center;">¿Qué deseas hacer?</h2>
            <br><br>
            <a class="link-footer" href="RegistroAdmin.html">Obtener cuenta de administrador</a>
            <br><br>
            <a class="link-footer" href="ModificarU.html">Modificar mis datos</a>
            <br><br>
            <a class="link-footer" href="EliminarUsuario.html">Eliminar mi usuario</a>
            <br><br>
            <!-- <h2 style="text-align: center;">Gestionar helados</h2>
            <br><br>
            <a class="link" href="RegistrarHelados.html">Registrar helados</a>
            <br><br>            
            <a class="link" href="ModificarHelados.html">Modificar helados</a>
            <br><br>
            <a class="link" href="EliminarHelados.html">Eliminar helados</a>
            <br><br>
            <h2 style="text-align: center;">Gestionar ofertas</h2>
            <br><br>
            <a class="link" href="RegistrarOfertas.html">Registrar ofertas</a>
            <br><br>
            <a class="link" href="ModificarOferta.html">Modificar ofertas</a>
            <br><br>
            <a class="link" href="EliminarOferta.html">Eliminar ofertas</a> -->
            <br><br><br><br>
        </div>
    </section>
   
  </body>
</html>