<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panadería "Las conchitas"</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="shortcut icon" href="https://assets.pinterest.com/ext/embed.html?id=67624431883447156">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
      
    <!-- <header>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a class="logo" href="index.html">Las conchitas</a>
    <ul>
        <li><a class="active" href="index.html">Inicio</a></li>
        <li><a class="Header" href="InicioAdministrador.jsp">Administrador</a></li>
        <li><a class="Header" href="Tienda.html">Tienda</a></li>
    </ul>
    </header> -->

    <div class="flexbox" style="align-items: center;">

        <header>
            <div class="título">
                <a href="/">Las conchitas</a>
            </div>
                <nav>
                    <a href="/InSeAdministrador">Administrador</a>
                    <a href="/Tienda">Tienda</a>
                </nav>
        </header> 
    </div>

    
    <section class="contenedorPrincipal" >
        
        <h2>El legado que tenemos</h2>
        <p class="text" style="text-align: center; margin-top:40px; margin-left: 40px; margin-right: 40px;">
            Somos una panadería de excelente reputación abriendonos a nuevas fronteras por medio del Internet
            <br><br>
            ¡Conoce el porque de nuestra excelencia!
            <br>
        </p>
        <div class="div-contenido" style="text-align: center;">
            <a class="linkPromo" href="/Tienda">
            <div class="div-promoUno">
                <p class="PromoUno" style="vertical-align: middle;">Ir a la tienda</p>
            </div>
            </a>
            <br><br><br>
        </div>
        
    </section>

  </body>
</html>