<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panadería "Las conchitas"</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="shortcut icon" href="https://assets.pinterest.com/ext/embed.html?id=67624431883447156">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>

    <div class="flexbox" style="align-items: center;">
        <header>
            <div class="título">
                <a href="/">Las conchitas</a>
            </div>
                <nav>
                    <a href="/Tienda">Tienda</a>

                    <a href="/Carrito">Carrito</a>


                    <a href="/InSeUsuario">Iniciar Sesión</a>

                    <a href="/ConfigUsuario">Configuración Usuario</a>


                    
                </nav>
        </header> 
    </div>

    
    <section class="contenedorPrincipal">
        <form  onsubmit="" name="formElimUsu" method="post" action="RegistroAdmin.jsp">  
            <br><br>
            <h2 style="text-align: left;">Iniciar Sesión Usuario:</h2>
            <br><br>
            <p class="text">Correo: </p>
            <input class="campo" type="text" name="id_usu" pattern="\d+" >

            <p class="text">Contraseña: </p>
            <input class="campo" type="text" name="id_usu" pattern="\d+" >
            <br><br>
            <input class="botón" type="submit" value="Enviar">
            <br><br><br><br><br><br><br><br><br><br>
        </form>
    </section>



    
  </body>
</html>