<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Benito y Gerardo</title>
        <link rel="stylesheet" href="./css/estilo.css">
        <link rel="shortcut icon" href="https://assets.pinterest.com/ext/embed.html?id=67624431883447156">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
      <body>
        <div class="flexbox" style="align-items: center;">

            <header>
                <div class="título">
                    <a href="/">Las conchitas</a>
                </div>
                    
            </header> 
        </div>
        
    <section class="contenedorPrincipal">
<%  
            // Error en el Inicio de Sesion
            if(user == null ){
%>
                <h1 class="h2-tienda" style="text-align: center;">Ocurrio un error （；´д｀）ゞ</h1>
<%
            // Inicio de Sesion exitoso
            }else{
%>
                <h1 class="h2-tienda" style="text-align: center;">Inicio de Sesión Exitoso</h1>
                <br>
                <br>
                <p class="text" style="text-align: center; margin-top:40px; margin-left: 40px; margin-right: 40px;">
                    Nombre: <%=user.nombre_usuario%> <%=user.appat_usuario%> <%=user.apmat_usuario%>
                <br><br>
                    Fecha de nacimiento: <%=user.fecNaci_usuario.getDate()%>/<%=user.fecNaci_usuario.getMonth()%>/<%=user.fecNaci_usuario.getFullYear()%>
                <br><br>
                    Telefono particular: <%=user.tel_usuario%>
                <br><br>
                    Teléfono celular: <%=user.cel_usuario%>
                </p>
                <br><br>
                <h2  style="text-align: center; padding-top: 15rem; ">Domicilio</h2>
                <p class="text" style="text-align: center; margin-top:40px; margin-left: 40px; margin-right: 40px;">
                    Colonia: <%=dirrec.colAldia%> 
                <br><br>
                    Calle: <%=dirrec.calle_dirrec%>
                <br><br>
                    Num. Exterior: <%=dirrec.num_ext_dirrec%>
                <br><br>
                    Num. Interior: <%=dirrec.num_int_dirrec%>
                </p>
    <%
            }
    %>
     </section>
     <footer class="footer" >
        <p >
            <a class="link-footer" href="/Tienda"> Ir a la Tienda</a>
        </p>
      </footer>
    
    </body>
</html>
