<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Benito y Gerardo</title>
        <link rel="stylesheet" href="./css/estilo.css">
        <link rel="shortcut icon" href="https://assets.pinterest.com/ext/embed.html?id=67624431883447156">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
      <body>
          
        <div class="flexbox" style="align-items: center;">

            <header>
                <div class="título">
                    <a href="/">Las conchitas</a>
                </div>
                    
            </header> 
        </div>



    <section class="contenedorPrincipal">
        <div class="div-form">
            <form  name="formUsu" method="post" action="/MtrRegistroUsuario >  
                <h1  style="text-align: left;">Crear Cuenta</h1>
                <h2  style="text-align: left;">Por favor, ingrese sus datos:</h2>
                <br><br>
                <p class="text">Nombre:</p>
                <br>
                <input class="campo" type="text" name="nom_usu"  >
                <br><br>
                <p class="text">Apellido paterno:</p>
                <br>
                <input class="campo" type="text" name="apelPat_usu"  >
                <br><br>
                <p class="text">Apellido materno:</p>
                <br>
                <input class="campo" type="text" name="apelMat_usu"  >
                <br><br>
                <p class="text">Fecha de nacimiento:</p>
                <br>
                <input class="campo" type="date" name="fechNaci_usu">
                <br><br>
                <p class="text">User (para el inicio de sesión): </p>
                <br>
                <input class="campo" type="text" name="user_usuario" >
                <br><br>
                <p class="text">Password: </p>
                <br>
                <input class="campo" type="text" name="pass_usuario" >
                <br><br>
                <p class="text">Teléfono celular: </p>
                <br>
                <input class="campo" type="tel" name="teleCelu"  >
                <br><br>
                <p class="text">Teléfono particular: </p>
                <br>
                <input class="campo" type="tel" name="telaPart"  >
                <br><br>
                <h2 class="text">Domicilio: </h2>
                <br><br>
                <p class="text">Colonia: </p>
                <br>
                <select name="colonia"  class="datosP" required>
                <% 
                    for(var i=0; i < col.length; i++){
                %>
                    <option value = "<%=i %>" > <%=col[i] %>  </option>
                <%
                    }
                %>
                </select>
                <br><br>
                
                
                <p class="text">Calle: </p>
                <br>
                <input class="campo" type="text" name="calle_dirrec" >
                <br><br>
                
                
                <br>
                <br>
                <input class="botón" type="submit" value="Registrarme">
                <br><br>
                <input class="botón" type="reset" value="Borrar datos">
            </form>
        </div>   
    </section>
    
  </body>
</html>