<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benito y Gerardo</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="shortcut icon" href="https://assets.pinterest.com/ext/embed.html?id=67624431883447156">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>

    <div class="flexbox" style="align-items: center;">

        <header>
            <div class="título">
                <a href="/">Las conchitas</a>
            </div>
                <nav>
                    <a href="/Tienda">Tienda</a>

                    <a href="/Carrito">Carrito</a>

                    <% 
                        if(usu != null){
                    %>
                        <a href="/ConfigUsuario">Configuración Usuario</a>
                    <%
                        }else{
                    %>
                        <a href="/InSeUsuario">Iniciar Sesión</a>
                    <%
                        }
                    %>
                </nav>
        </header> 
    </div>
    
    <section class="contenedorPrincipal">
        
        
        <h2 class="h2-tienda">Dale un vistazo a nuestros panes:</h2>

        <div class="grid">
            <div class="grid-item">
                <div class="div-item">
                    <div class="foto-item">
                        <a href="Carrito">
                            <img class="img-item" src="http://drive.google.com/uc?export=view&id=1zPl7W74h0tGUAIELrYSFfqn7feZB5czU"></div>
                        </a>
                    <div class="info-item">
                        <b >Concha Tradicional</b>
                        <br><br>
                        <b>$9.99 mxn</b>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="div-item">
                    <div class="foto-item">
                        <a href="Carrito">
                            <img class="img-item" src="http://drive.google.com/uc?export=view&id=1W_ujPRbrGzzF9hf59Ke0aAO_9BlC7vWC"></div>
                        </a>
                    <div class="info-item">
                        <b >Cuernito</b>
                        <br><br>
                        <b>$9.99 mxn</b>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="div-item">
                    <div class="foto-item">
                        <a href="Carrito">
                            <img class="img-item" src="http://drive.google.com/uc?export=view&id=1-TRnbikd7qISNOTwC5R_ojLZNsmBC8v9"></div>
                        </a>
                    <div class="info-item">
                        <b >Bisquet</b>
                        <br><br>
                        <b>$9.99 mxn</b>
                    </div>
                </div>
            </div>

           
        </div>
        <a class="link2" href="Carrito" style="margin-bottom: 40px;">¿A qué estás esperando? ¡Compra ya!</a>
        
    </section>
</html>
